In [3]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\chand\appdata\local\programs\python\python311\lib\site-packages (23.1.2)
Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
                                              0.0/2.1 MB ? eta -:--:--
     --                                       0.1/2.1 MB 3.3 MB/s eta 0:00:01
     ---------                                0.5/2.1 MB 5.1 MB/s eta 0:00:01
     ---------------------                    1.1/2.1 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 12.0 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 11.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-23.2.1

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\chand\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chand\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\chand\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\chand\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\chand\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\chand\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import paramiko

In [7]:
transport = paramiko.Transport(('localhost', 2023))

In [10]:
transport.connect(username='user1', password='bpt799')

In [11]:
print(transport)

<paramiko.Transport at 0xb4f0bdd0 (cipher aes128-ctr, 128 bits) (active; 0 open channel(s))>

In [15]:
sftp = transport.open_sftp_client()

In [16]:
with sftp.open('/home/user1/sample.csv', 'r') as remote_file:
    file_contents = remote_file.read()

In [26]:
string_data = file_contents.decode('utf-8')

In [27]:
type(string_data)

str

In [37]:
import io

df = pd.read_csv(io.StringIO(string_data))

df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN